@import "../../variables.scss";

.pagination {
  display: flex;
  justify-content: center;
  text-align: center;

  &__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 20px;
    font-family: $base-font;
    font-weight: 400;
    padding-left: 0;

    &__item {
      display: block;
      width: 50px;
      height: 56px;
      line-height: 56px;
      margin: 3px;
      cursor: pointer;
      transition: 0.2s;
      background: url(../../assets/helpers/hexagon-pagination.svg);
      background-position: center center;
      background-repeat: no-repeat;
      color: $base-dark;
      transition: background 0.5s ease-out;

      &:hover {
        background: url(../../assets/helpers/hexagon-pagination-hover.svg);
      }

      &--active {
        background: url(../../assets/helpers/hexagon-pagination-active.svg);
        color: $white;

        &:hover {
          background: url(../../assets/helpers/hexagon-pagination-active.svg);
        }
      }
      &--first {
        background: url(../../assets/helpers/page-prev.svg);
        background-position: center;
        background-repeat: no-repeat;

        &:hover {
          background: url(../../assets/helpers/page-prev.svg);
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      &--last {
        background: url(../../assets/helpers/page-next.svg);
        background-position: center;
        background-repeat: no-repeat;

        &:hover {
          background: url(../../assets/helpers/page-next.svg);
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
    @media screen and (max-width: 768px) {
      font-size: 16px;
      &__item {
        width: 40px;
        height: 42px;
        line-height: 42px;
        background-size: contain;
        background-repeat: no-repeat;

        &--first {
          background-size: 75%;
        }
        &--last {
          background-size: 75%;
        }
      }
    }
  }
}
