@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
}

#root {
  display: grid;
  grid-template-columns: 1fr 1042px 1fr;
  grid-template-rows: minmax(900px, auto) auto auto auto auto auto auto auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
    ". hero contact-sidebar"
    ". investment ."
    ". schedule ."
    ". slider ."
    "investor investor investor"
    "flats flats flats"
    ". filters ."
    "localization localization localization"
    ". contact ."
    "footer footer footer";
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  #root {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 400px auto auto auto auto auto auto auto auto auto;
    gap: 0px 0px;
    grid-template-areas:
      "hero"
      "investment"
      "schedule"
      "slider"
      "investor"
      "flats"
      "filters"
      "localization"
      "contact"
      "footer";
    overflow: hidden;
  }
}
