@import "../../variables.scss";
@import "../../mixins.scss";

.imageWrapper {
  position: relative;
  width: 100%;
  height: auto;
  // max-height: 770px;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  cursor: pointer;

  .toolTip {
    position: absolute;
    color: #fff;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.35);
    transform: translate3d(-50%, -50%, 0);
    border-radius: 0.25rem;
    pointer-events: none;
    z-index: 1000;
    font-family: "Spartan", sans-serif;
    font-size: 0.75rem;
    text-align: center;
  }
}

.welcomeText {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 59px;
  font-family: "Spartan", sans-serif;
  margin-bottom: 2rem;
  padding: 0 1rem;

  h2 {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: .9rem;

    @media (min-width: 768px) {
      font-size: 1.2rem;
    }
  }
}

.flatDescription {
  @media (min-width: 720px) {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    .flatTable {
      width: calc(100% - 4rem);
      text-align: center;
      border-collapse: collapse;
      border-top: 1px solid $color-4;
      padding: 0 2rem;

      .flatTableHeader {
        th {
          color: $color-1;
          font-family: "Spartan", sans-serif;
          font-weight: 400;
          font-size: 0.8rem;
          padding: 0.5rem;
          border-bottom: 1px solid $color-4;
          background-color: rgba($color-4, 0.2);
        }
      }

      .flatTableData {
        cursor: pointer;

        td {
          color: $color-4;
          font-family: "Spartan", sans-serif;
          font-weight: 400;
          font-size: 0.8rem;
          padding: 0.3rem;
          border-bottom: 1px solid $color-4;
        }
      }

      tr:nth-child(even) {
        background-color: rgba($color-4, 0.1);
      }

      tr:hover {
        background-color: rgba($color-4, 0.2);
      }
    }
  }

  @media (min-width: 1024px) {
    .flatTable {
      width: 100%;
      text-align: center;
      border-collapse: collapse;
      border-top: 1px solid $color-4;
      padding: 0 1rem;
    }
  }

  @media (max-width: 719px) {
    .flatTable,
    .flatTableHeader,
    .flatTableData,
    tbody,
    th,
    td {
      display: block;
    }
    .flatTable {
      margin: 0 1rem 2rem 1rem;
    }

    .flatTableHeader th {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    .flatTableData {
      border: 1px solid $color-4;
      background-color: rgba($color-4, 0.2);

      &:not(:last-of-type) {
        border-bottom: none;
      }

      &:nth-of-type(odd) {
        background-color: rgba($color-4, 0.1);
      }

      td {
        position: relative;
        color: $color-4;
        font-family: "Spartan", sans-serif;
        font-weight: 500;
        font-size: 0.7rem;
        text-align: center;
        padding: 3px;
        // padding-left: 200px; // do dopasowania
        margin-left: 120px; // do dopasowania
        border-bottom: 1px solid $color-4;
        border-left: 1px solid $color-4;

        &:before {
          position: absolute;
          height: 18px;
          left: 0;
          width: 120px;
          padding: 0 10px;
          white-space: nowrap;
          margin-left: -120px;
          text-align: right;
          border-bottom: 1px solid $color-4;
        }
      }

      td:last-of-type {
        border-bottom: none;
      }

      td:nth-of-type(1):before {
        content: "Mieszkanie";
      }
      td:nth-of-type(2):before {
        content: "Pokoje";
      }
      td:nth-of-type(3):before {
        content: "Powierzchnia";
        height: 20.73px;
      }
      td:nth-of-type(4):before {
        content: "Cena";
      }
      td:nth-of-type(5):before {
        content: "Status";
      }
      td:nth-of-type(6):before {
        content: "Karta";
      }
    }
  }
}
