@import "../../variables.scss";

.searchResultsTableWrapper {
  @media (min-width: 768px) {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    .searchResultTable {
      width: 100%;
      text-align: center;
      border-collapse: collapse;
      padding: 0 2rem;
      box-sizing: border-box;

      .searchResultTableHeader {
        th {
          box-sizing: border-box;
          height: 60px;
          color: $white;
          font-family: $base-font;
          font-weight: 600;
          font-size: 18px;
          letter-spacing: $small-letter-spacing;
          background-color: $light-green;
          border: 3px solid $light-green;
        }
      }

      .searchResultTableRow {
        cursor: pointer;
        box-sizing: border-box;

        td {
          box-sizing: border-box;
          height: 60px;
          color: $base-dark;
          font-family: $base-font;
          font-weight: 400;
          font-size: 18px;
        }

        .tableDataStatus {
          font-weight: 300;
        }

        .tableDataBalcony {
          font-weight: 300;
        }
      }

      tr {
        box-sizing: border-box;
        border-top: 3px solid transparent;

        &:nth-child(even) {
          background-color: $base-grey;
        }
        &:last-child {
          border-bottom: 3px solid transparent;
        }

        &:hover {
          border: 3px solid $base-green;
          border-radius: 1px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .searchResultsTitle {
      text-transform: uppercase;
      font-size: 18px;
      margin: 0;
      color: $base-dark;
      letter-spacing: $small-letter-spacing;
    }

    .searchResultsText {
      font-size: 13px;
      color: $base-dark;
      margin-top: 8px;
      letter-spacing: $small-letter-spacing;

      span {
        font-size: 14px;
        font-weight: 700;
      }
    }

    .FlatBox {
      background: $base-grey;
      padding: 16px 24px;
      border-radius: 2px;
      min-width: 320px;
      margin-bottom: 8px;

      .FlatBoxChapter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        margin-bottom: 16px;

        .FlatBoxText {
          .FlatBoxHeader {
            height: 20px;
            margin: 0;
            font-family: $base-font;
            text-transform: uppercase;
            font-weight: 700;
            color: $base-dark;
            font-size: 14px;
            letter-spacing: $small-letter-spacing;
          }
          .FlatBoxParagraph {
            height: 17px;
            margin: 0;
            font-family: $base-font;
            font-weight: 400;
            color: $base-dark;
            font-size: 12px;
            letter-spacing: $small-letter-spacing;
          }

          &:nth-of-type(2) {
            .FlatBoxHeader,
            .FlatBoxParagraph {
              text-align: right;
            }
          }
        }

        &:nth-of-type(2) {
          margin: 0;
          align-items: flex-end;
          .FlatBoxText {
            .FlatBoxParagraph {
              color: $base-green;
              height: 12px;
            }
          }
        }
      }
      .FlatBoxIcon {
        margin: 0;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
