@import "../../variables.scss";
@import "../../mixins.scss";

.investorPageWrapper {
  grid-area: hero;
  .sectionTitle {
    @include section-title;
    margin: 80px auto 0;
    font-size: 32px;
    text-transform: uppercase;
  }

  .investmentWrapper {
    margin-top: 140px;
    display: grid;
    grid-template-columns: 521px 521px;
    grid-template-rows: 415px;
    grid-gap: 0 0;
    grid-template-areas: "left right";

    .investmentDescriptionWrapper {
      position: relative;
      grid-area: left;
      padding: 140px 40px 0 40px;
      background: $base-grey;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;

      .investmentIconWrapper {
        position: absolute;
        left: 0;
        top: -80px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .investmentIcon {
          transform: translateX(-50%);
        }

        .investmentIconTitle {
          font-size: 20px;
          font-weight: 700;
          text-transform: uppercase;
          margin-top: 24px;
        }
      }

      .investmentDescription {
        font-size: 22px;
        font-weight: 300;
        letter-spacing: $big-letter-spacing;
        margin-bottom: 32px;
      }

      .investmentParametersPrimary {
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        margin: 18px 0 12px;
      }

      .investmentParametersSecondary {
        font-size: 16px;
        font-weight: 300;
        margin: 0 0 24px;

        &:nth-of-type(2) {
          margin-bottom: 0;
        }
      }
    }

    .investmentImage {
      grid-area: right;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &:nth-of-type(even) {
      .investmentDescriptionWrapper {
        grid-area: right;
        border-radius: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      .investmentImage {
        grid-area: left;
        border-radius: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }
  }
}
