@import "../../variables.scss";
@import "../../mixins.scss";

.heroImageContainer {
  margin-top: 60px;
  position: relative;
  grid-area: hero;
  background: url(../../assets/images/hero_1366_840.jpg);

  .heroImageText {
    position: absolute;
    top: 102px;
    left: 102px;
    color: $white;
    font-size: 36px;
    font-weight: 400;
  }

  .heroImageAdditionalText {
    position: absolute;
    top: 156px;
    left: 102px;
    color: $white;
    font-size: 32px;
    font-weight: 400;
  }

  .heroButton {
    @include button-primary;
    position: absolute;
    top: 250px;
    left: 102px;
  }

  .PatternLeft,
  .PatternRight {
    position: absolute;
    bottom: 0;
  }

  .PatternLeft {
    left: 0;
  }

  .PatternRight {
    right: 0;
  }

  @media screen and (max-width: 768px) {
    background: url(../../assets/images/hero_667_500.jpg);
    background-size: cover;
    margin-top: 60px;

    .heroImageText {
      top: 40px;
      left: 40px;
      color: $white;
      margin-top: 0;
    }

    .heroImageAdditionalText {
      display: none;
    }
    .heroButton {
      @include button-primary;
      position: absolute;
      top: 100px;
      left: 40px;

      &:hover {
        @include button-secondary;
      }
    }
    .PatternLeft {
      transform: scale(0.45);
      transform-origin: bottom left;
    }
    .PatternRight {
      transform: scale(0.45);
      transform-origin: bottom right;
    }
  }
}
