@import "../../variables.scss";
@import "../../mixins.scss";

.InvestmentContainer {
  grid-area: investment;
  background-color: $white;

  .InvestmentTitle {
    font-size: 56px;
    text-transform: uppercase;
    text-align: center;
    color: $base-dark;
    font-weight: 700;
    letter-spacing: $big-letter-spacing;
    margin-top: 100px;
    margin-bottom: 20px;

    @media screen and (max-width: 768px) {
      font-size: 24px;
    }
  }

  .InvestmentSubTitle {
    font-size: 40px;
    text-align: center;
    color: $base-dark;
    font-weight: 500;
    letter-spacing: $big-letter-spacing;
    margin-top: 0;
    margin-bottom: 64px;

    @media screen and (max-width: 768px) {
      font-size: 18px;
      margin-bottom: 24px;
    }
  }

  .InvestmentParagraph {
    @include base-paragraph;

    strong {
      font-weight: 500;
    }
  }

  .InvestmentIconsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "first second third";

    .IconsWrapper {
      margin: 48px 0;
      grid-area: first;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .IconTitle {
        margin-top: 48px;
        font-size: 20px;
        color: $base-green;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: $medium-letter-spacing;
      }

      .IconSubTitle {
        margin-top: 0;
        font-size: 20px;
        color: $base-dark;
        font-weight: 500;
        letter-spacing: $small-letter-spacing;
      }

      &:nth-of-type(2) {
        grid-area: second;
      }

      &:nth-of-type(3) {
        grid-area: third;
      }
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "first" "second" "third";
      justify-items: center;

      .IconsWrapper {
        margin: 32px auto 0;
        padding: 32px 24px;
        min-width: 320px;
        max-width: 360px;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 70% 30%;
        grid-template-areas:
          "title icon"
          "subtitle icon";
        background: $base-grey;
        border-radius: 2px;

        .IconTitle {
          grid-area: title;
          font-size: 18px;
          justify-self: start;
          margin: 0;
        }

        .IconSubTitle {
          grid-area: subtitle;
          font-size: 16px;
          justify-self: start;
          margin: 0;
        }

        .Icon {
          grid-area: icon;
          width: 76px;
          justify-self: end;
        }

        &:nth-of-type(2),
        &:nth-of-type(3) {
          margin-top: 16px;
        }
      }
    }
  }

  .InvestmentSectionTitle {
    @include section-sub-title;
    margin-top: 92px;
    margin-bottom: 56px;
  }

  .InvestmentIconsFullWidthContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas: "first second third";
    background: $base-grey;
    margin-top: 72px;
    margin-bottom: 68px;

    .IconWrapper {
      margin: 48px 0;
      grid-area: first;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .Icon {
        position: relative;
        height: 180px;

        .IconImage {
          position: absolute;
          height: 100%;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          padding-bottom: 9px;
          z-index: 2;
        }
      }

      .IconTitle {
        margin-top: 48px;
        font-size: 20px;
        color: $base-green;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: $medium-letter-spacing;
      }

      .IconSubTitle {
        margin-top: 0;
        font-size: 20px;
        color: $base-dark;
        font-weight: 500;
        letter-spacing: $small-letter-spacing;
      }

      &:nth-of-type(2) {
        grid-area: second;
      }

      &:nth-of-type(3) {
        grid-area: third;
      }
    }

    @media screen and (max-width: 768px) {
      margin-top: 32px;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      grid-template-areas: "first" "second" "third";

      .IconWrapper {
        margin: 24px 0;

        .Icon {
          .IconBackground {
            width: 92px;
            height: 92px;
          }

          .IconImage {
            width: 52px;
          }
        }

        .IconTitle {
          margin-top: 16px;
          font-size: 14px;
        }

        &:nth-of-type(2) {
          margin: 0;
        }
      }
    }
  }

  .InvestmentIconsContainerSecondary {
    @extend .InvestmentIconsContainer;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "first second third"
      "fourth fifth sixth";

    .IconsWrapper {
      margin: 40px 0;
      grid-area: first;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      .IconTitle {
        margin-top: 48px;
        font-size: 20px;
        color: $base-dark;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: $small-letter-spacing;
      }

      &:nth-of-type(2) {
        grid-area: second;
      }

      &:nth-of-type(3) {
        grid-area: third;
      }

      &:nth-of-type(4) {
        grid-area: fourth;
      }

      &:nth-of-type(5) {
        grid-area: fifth;
      }

      &:nth-of-type(6) {
        grid-area: sixth;
      }
    }

    @media screen and (max-width: 768px) {
      grid-template-rows: auto auto auto;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "first second"
        "third fourth"
        "fifth sixth";

      .IconsWrapper {
        background: $white;
        margin: 0;
        min-width: unset;

        .Icon {
        }

        .IconTitle {
          font-size: 12px;
          text-align: center;
        }
      }
    }
  }

  .ScheduleIconsContainer {
    @extend .InvestmentIconsContainer;
    .IconsWrapper {
      .IconTitle {
        width: 100%;
        text-align: left;
        color: $base-dark;
        font-weight: 600;
      }
      .IconSubTitle {
        width: 100%;
        text-align: left;
      }
      .HexagonWrapper {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;

        .Icon {
          z-index: 2;
          path {
            stroke: $base-green;
          }
          circle {
            fill: $base-green;
          }
        }
      }
      .HexagonWrapper::before {
        position: absolute;
        content: "";
        height: 3px;
        width: 100%;
        border-top: 3px solid $base-dark;
        top: 50%;
        transform: translateY(-50%);
      }

      &:nth-of-type(2) {
        .IconTitle,
        .IconSubTitle {
          width: initial;
        }
        .HexagonWrapper {
          .Icon {
            path {
              stroke: $base-dark;
            }
            circle {
              fill: $base-dark;
            }
          }

          &::before {
            border-top: 3px solid $base-dark;
          }
        }
      }

      &:nth-of-type(3) {
        .IconTitle,
        .IconSubTitle {
          text-align: right;
        }
        .HexagonWrapper {
          .Icon {
            path {
              stroke: $base-dark;
            }
            circle {
              fill: $base-dark;
            }
          }

          &::before {
            border-top: 3px dashed $base-dark;
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      margin: 0;

      .IconsWrapper {
        background: $white;
        margin-top: 0;
        padding: 16px;

        .IconTitle {
          font-size: 16px;
          align-self: end;
          margin-bottom: 2px;
        }

        .IconSubTitle {
          font-size: 14px;
          align-self: start;
          margin-top: 2px;
        }

        .HexagonWrapper {
          grid-area: icon;

          .Icon {
            width: 40px;
          }

          &::before {
            height: 104px;
            width: 2px;
            border-top: none;
            border-right: 2px solid $base-dark;
          }
        }

        &:nth-of-type(2) {
          margin-top: 0;
        }
        &:nth-of-type(3) {
          margin-top: 0;
          .IconTitle,
          .IconSubTitle {
            text-align: left;
          }

          .HexagonWrapper::before {
            border-right: 2px dashed $base-dark;
          }
        }
      }
    }
  }

  .scheduleSeeMore {
    .scheduleSeeMoreDetails {
      width: 100%;
      cursor: pointer;

      &[open] {
        width: 100%;
      }

      .scheduleSeeMoreSummary::-webkit-details-marker {
        display: none;
      }

      .scheduleSeeMoreSummary {
        display: flex;
        width: 100%;
        justify-content: center;

        .scheduleButton {
          @include button-secondary;
          z-index: 0;

          @media screen and (max-width: 768px) {
            margin: 0 auto;
          }
        }
      }
    }
  }
}
