@import "../../variables.scss";
@import "../../mixins.scss";

.LocationContainer {
  margin-top: 100px;
  padding-top: 60px;
  grid-area: localization;
  background-color: $white;
  display: grid;
  grid-template-columns: 1fr 1042px 1fr;
  grid-template-rows: auto auto auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
    ". title ."
    "banner-01 banner-01 banner-01"
    "banner-02 banner-02 banner-02"
    ". content-01 ."
    ". content-02 .";

  .ContentWrapperTop {
    grid-area: title;

    .LocationTitle {
      @include section-title;
    }
    .LocationParagraph {
      @include base-paragraph;
      margin-bottom: 64px;
    }
  }

  .FullWidthBannerTop {
    grid-area: banner-01;
    position: relative;
    margin: 24px 0 100px;
    height: 234px;
    display: grid;
    grid-template-columns: 1fr 1042px 1fr;
    grid-template-rows: auto auto auto;
    gap: 0px 0px;
    grid-template-areas: "left content right";
    background: $base-grey;

    .BannerLeftContent {
      display: block;
      grid-area: left;
      background: $base-grey;
      width: 162px;
      height: 100%;
    }

    .BannerRightContent {
      grid-area: right;
      background: $base-grey;
      width: 162px;
      height: 100%;
    }

    .TextWrapper {
      grid-area: content;
      height: inherit;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .LeadText {
        margin-bottom: 16px;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: $small-letter-spacing;
        color: $base-dark;
      }

      .AdditionalText {
        margin: 0 0 16px;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: $small-letter-spacing;
        text-transform: uppercase;
        color: $base-dark;
      }
      .AdressText {
        margin: 0 0 16px;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: $small-letter-spacing;
        color: $base-dark;
      }
    }

    .LocationHexagons {
      position: absolute;
      right: 162px;
      z-index: 2;
    }
  }

  .FullWidthMapWrapper {
    grid-area: banner-02;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1042px 1fr;
    grid-template-rows: auto auto auto;
    gap: 0px 0px;
    grid-template-areas:
      ". title ."
      "map map map"
      ". button .";

    .LocationSubTitle {
      grid-area: title;
      @include section-sub-title;
      font-weight: 600;
      letter-spacing: $small-letter-spacing;
      margin-bottom: 56px;
    }

    .FullWidthMap {
      grid-area: map;
      height: 492px;
      background: url(../../assets/images/mapa.jpg);
    }

    .ButtonWrapper {
      grid-area: button;
      height: 90px;
      display: flex;
      align-items: center;

      a {
        text-decoration: none;

        .LocationButton {
          @include button-secondary;
        }
      }
    }
  }

  .LocationIconsContainer {
    grid-area: content-02;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0px 20px;
    grid-template-areas:
      "title title title"
      "first second third";
    margin-bottom: 50px;
    margin-top: 50px;

    .LocationSubTitle {
      grid-area: title;
      @include section-sub-title;
      font-weight: 600;
      letter-spacing: $small-letter-spacing;
      margin-bottom: 56px;
    }

    .IconWrapper {
      margin: 8px 0 48px;
      grid-area: first;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 4px;

      .Icon {
        margin-top: 40px;
      }

      .IconTitle {
        margin-top: 24px;
        margin-bottom: 40px;
        font-size: 18px;
        color: $base-dark;
        font-weight: 600;
        letter-spacing: $small-letter-spacing;
      }

      &:nth-of-type(2) {
        grid-area: second;
      }

      &:nth-of-type(3) {
        grid-area: third;
      }
    }
  }

  .LocationAttributesContainer {
    grid-area: content-01;

    .LocationAttributesMain {
      display: grid;
      grid-template-columns: minmax(auto, 389px) 1fr;
      grid-template-rows: auto auto;
      gap: 0px 0px;
      grid-template-areas:
        "icon-01 description"
        "icon-02 description";

      .IconWrapper01 {
        grid-area: icon-01;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .Flag {
        }

        .Description {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          max-width: 282px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .DescriptionText {
            text-transform: uppercase;
            text-align: center;
            margin: 4px;
          }
        }
      }

      .IconWrapper02 {
        @extend .IconWrapper01;
        grid-area: icon-02;
      }

      .DescriptionWrapper {
        grid-area: description;
        padding-left: 102px;

        .DescriptionHeader {
          font-size: 22px;
          text-transform: uppercase;
          font-weight: 500;
          color: $base-dark;
          letter-spacing: $small-letter-spacing;
        }

        .DescriptionText {
          font-size: 22px;
          font-weight: 300;
          color: $base-dark;
          letter-spacing: $small-letter-spacing;
          line-height: 30px;

          strong {
            font-weight: 500;
          }
        }
      }
    }

    .LocationAttributesAdditional {
      margin-top: 48px;
      display: flex;
      justify-content: center;

      .LocationAttributesDetails {
        width: 100%;
        cursor: pointer;
        position: relative;

        &:before {
          position: absolute;
          content: "";
          border: 2px solid $dark-grey;
          top: 36px;
          left: 0;
          width: 100%;
          height: 4px;
          border-radius: 2px;
          transform: translateY(-50%);
        }

        &[open] {
          width: 100%;
        }

        .LocationAttributesSummary::-webkit-details-marker {
          display: none;
        }
        .LocationAttributesSummary {
          display: flex;
          width: 100%;
          justify-content: center;

          .LocationAttributesIcon {
            z-index: 2;
          }
        }

        .LocationAttributesSecondary,
        .LocationAttributesSecondary02 {
          @extend .LocationAttributesMain;
          margin-top: 48px;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    margin-top: 64px;
    grid-area: localization;
    background-color: $white;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 0px 0px;
    grid-template-areas:
      "title"
      "banner-01"
      "banner-02"
      "content-01"
      "content-02";

    .ContentWrapperTop {
      grid-area: title;
      max-width: 100vw;

      .LocationTitle {
        @include section-title;
        font-size: 18px;
      }
      .LocationParagraph {
        @include base-paragraph;
        font-size: 16px;
        margin-bottom: 34px;
      }
    }

    .FullWidthBannerTop {
      margin: 0 0 58px;
      height: 104px;
      max-width: 100vw;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas: "content";

      .BannerLeftContent,
      .BannerRightContent {
        display: none;
      }

      .TextWrapper {
        padding: 13px 20px;

        .LeadText {
          margin: 0;
          margin-bottom: 4px;
          font-size: 12px;
          font-weight: 700;
        }

        .AdditionalText {
          margin: 0 0 13px;
          font-size: 12px;
        }
        .AdressText {
          margin: 0 0 4px;
          font-size: 12px;

          &:nth-of-type(3) {
            margin: 0;
          }
        }
      }

      .LocationHexagons {
        position: absolute;
        right: 20px;
        top: 0;
        transform: scale(0.45);
        transform-origin: top right;
      }
    }

    .FullWidthMapWrapper {
      grid-area: banner-02;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
      grid-template-areas:
        "title"
        "map"
        "button";

      .LocationSubTitle {
        max-width: 100vw;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 26px;
      }

      .FullWidthMap {
        max-width: 100vw;
        grid-area: map;
        height: 360px;
        background: url(../../assets/images/mapa.jpg);
        overflow: hidden;
      }

      .ButtonWrapper {
        max-width: 100vw;
        grid-area: button;
        justify-content: center;
        .LocationButton {
          @include button-secondary;
        }
      }
    }

    .LocationIconsContainer {
      grid-area: content-02;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;
      gap: 0px 0px;
      grid-template-areas:
        "title"
        "first"
        "second"
        "third";
      margin-bottom: 64px;
      margin-top: 20px;
      max-width: 100vw;

      .LocationSubTitle {
        grid-area: title;
        @include section-sub-title;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 24px;
      }

      .IconWrapper {
        margin: 0;
        grid-area: first;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: none;
        border-radius: 0;
        background: $base-grey;

        .Icon {
          margin-top: -8px;
          transform: scale(0.65);
        }

        .IconTitle {
          margin-top: -8px;
          margin-bottom: 16px;
          font-size: 14px;
          font-weight: 700;
        }

        &:nth-of-type(2) {
          grid-area: second;
        }

        &:nth-of-type(3) {
          grid-area: third;
          padding-bottom: 8px;
        }
      }
    }

    .LocationAttributesContainer {
      grid-area: content-01;

      .LocationAttributesMain {
        display: grid;
        grid-template-columns: auto 320px auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
          ". icon-01 ."
          ". icon-02 ."
          "description description description";

        .IconWrapper01 {
          grid-area: icon-01;
          padding: 0;
          margin-bottom: 8px;

          .Flag {
            height: 79px;
            width: auto;
          }

          .Description {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            max-width: 200px;
            display: flex;
            flex-direction: row;

            .DescriptionText {
              text-transform: uppercase;
              text-align: center;
              margin: 4px;
              font-size: 12px;
            }
          }

          .Icon {
            width: 56px;
          }
        }

        .IconWrapper02 {
          @extend .IconWrapper01;
          grid-area: icon-02;
        }

        .DescriptionWrapper {
          grid-area: description;
          padding: 32px 20px;

          .DescriptionHeader {
            font-size: 14px;
            font-weight: 700;
          }

          .DescriptionText {
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            margin-bottom: 0;

            strong {
              font-weight: 500;
            }
          }
        }
      }

      .LocationAttributesAdditional {
        margin-top: 0px;
        display: flex;
        justify-content: center;
        padding: 0 20px;

        .LocationAttributesDetails {
          width: 100%;
          cursor: pointer;
          position: relative;

          &:before {
            position: absolute;
            content: "";
            border: 1px solid $dark-grey;
            top: 36px;
            left: 0;
            width: 100%;
            height: 2px;
            border-radius: 2px;
            transform: translateY(-50%);
          }

          &[open] {
            width: 100%;
          }

          .LocationAttributesSummary::-webkit-details-marker {
            display: none;
          }
          .LocationAttributesSummary {
            display: block;
            width: 100%;
            margin-bottom: 60px;
            position: relative;

            .LocationAttributesIcon {
              position: absolute;
              left: 50%;
              top: 0;
              transform: translate(-50%, 0);
              z-index: 2;
              width: 42px;
            }
          }

          .LocationAttributesSecondary {
            margin-top: 80px;
          }

          .LocationAttributesSecondary02 {
            margin-top: 24px;
          }
        }
      }
    }
  }
}
