@import "../../variables.scss";
@import "../../mixins.scss";

.contactOfficeWrapper {
  .sectionSubTitle {
    @include section-sub-title;
    font-size: 32px;
    margin: 64px 0 24px;
    text-align: left;
  }

  .sectionParagraph {
    @include base-paragraph;
  }

  .salesOfficeBanner {
    position: relative;
    margin: 64px 0 64px;
    width: 100%;
    height: 234px;
    display: grid;
    grid-template-columns: 296px 296px auto;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas: "left center right";
    background: $base-grey;

    .adressTextWrapper {
      position: relative;
      grid-area: left;
      height: inherit;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-left: 48px;

      .adress,
      .openingHours {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: $small-letter-spacing;
        color: $base-dark;
        margin: 0 0 8px 0;
      }

      .openingHours {
        margin-top: 40px;
      }

      .city,
      .hours {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: $small-letter-spacing;
        color: $base-dark;
        margin: 0;
      }

      &:after {
        position: absolute;
        content: "";
        right: 0;
        top: 16px;
        height: 202px;
        width: 2px;
        border-radius: 2px;
        background: $dark-grey;
      }
    }

    .agentTextWrapper {
      @extend .adressTextWrapper;
      grid-area: center;

      .name,
      .contact {
        @extend .adress;
      }

      .function,
      .phoneNumber {
        @extend .city;
      }

      .function {
        text-transform: uppercase;
      }
      .contact {
        @extend .openingHours;
      }

      &:after {
        display: none;
      }
    }

    .salesOfficeHexagons {
      position: absolute;
      right: 77px;
      z-index: 2;
    }
  }

  @media screen and (max-width: 768px) {
    .sectionSubTitle {
      display: none;
    }
    .sectionParagraph {
      display: none;
    }
    .salesOfficeBanner {
      display: none;
    }
  }
}
