@import "../../../variables.scss";

.input-range__slider {
  appearance: none;
  position: relative;
  background: url(../../../assets/helpers/hexagon-sliders.svg);
  cursor: pointer;
  display: block;
  height: 32px;
  width: 32px;
  margin-left: -17px;
  margin-top: -17px;
  outline: none;
  position: absolute;
  top: 50%;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;

  &:active {
    transform: scale(1.1);
  }

  &:focus {
    box-shadow: 0 0 0 5px rgba($dark-grey, 0.2);
  }

  &-container {
    transition: left 0.3s ease-out;
  }
}

.input-range__label {
  color: $base-dark;
  font-family: $base-font;
  font-size: 14px;
  font-weight: 400;
  transform: translateZ(0);
  white-space: nowrap;
  display: none;

  &--min,
  &--max {
    bottom: -1.4rem;
    position: absolute;
    display: none;
  }

  &--value {
    position: absolute;
    bottom: 26px;
    left: 10px;
  }

  &-container {
    position: relative;
  }
}

.input-range__track {
  background: $dark-grey;
  border-radius: 1px;
  cursor: pointer;
  display: block;
  height: 2px;
  position: relative;
  transition: left 0.3s ease-out, width 0.3s ease-out;

  &--background {
    left: 0;
    margin-top: -0.1rem;
    position: absolute;
    right: 0;
    top: 50%;
  }

  &--active {
    background: $base-dark;
  }

  & > .input-range__slider-container ~ .input-range__slider-container {
    position: relative;
    .input-range__label {
      position: absolute;
      right: 0;
    }
  }
}

.input-range {
  grid-area: slider;
  height: auto;
  position: relative;
  width: 100%;

  &--disabled .input-range__track {
    background: #eeeeee;
  }

  &--disabled .input-range__slider {
    background: #cccccc;
    border: 1px solid #cccccc;
    box-shadow: none;
    transform: none;
  }
}
