@import "../../../variables.scss";

.FiltersWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 120px;
  gap: 0px 10px;
  grid-template-areas: "filter-01 filter-02 filter-03 filter-04";

  .FilterFloors,
  .FilterRooms,
  .FilterArea,
  .FilterPrice {
    position: relative;
    border: 2px solid $base-grey;
    border-radius: 4px;
    padding: 16px 36px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title"
      "values"
      "slider";

    .FilterTitle {
      grid-area: title;
      margin: 0;
      font-size: 16px;
      margin-left: -15px;
      text-transform: uppercase;
      letter-spacing: $medium-letter-spacing;
    }

    .FilterValuesWrapper {
      grid-area: values;
      display: grid;
      margin-left: -15px;
      margin-right: -15px;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto;
      grid-template-areas: "from to";

      .FilterValue {
        grid-area: from;
        font-size: 12px;
        font-family: $base-font;
        color: $base-dark;
        letter-spacing: $small-letter-spacing;

        &:nth-of-type(2) {
          grid-area: to;
          text-align: right;
        }
      }
    }
  }

  .FilterFloors {
    grid-area: filter-01;
    margin: 0;
  }
  .FilterRooms {
    grid-area: filter-02;
  }
  .FilterArea {
    grid-area: filter-03;
  }
  .FilterPrice {
    grid-area: filter-04;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: auto 320px auto;
    grid-template-rows: 120px 120px 120px 120px;
    gap: 0 0;
    grid-template-areas:
      ". filter-01 ."
      ". filter-02 ."
      ". filter-03 ."
      ". filter-04 .";

    .FilterFloors {
      border-bottom: none;
    }
    .FilterRooms,
    .FilterArea {
      border-top: none;
      border-bottom: none;
    }
    .FilterPrice {
      border-top: none;
    }
  }
}
