@import "../../variables.scss";
@import "../../mixins.scss";

.ContactIconsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "title title title"
    "first second third"
    "header header header";
  margin-top: 50px;

  .ContactSubTitle {
    grid-area: title;
    @include section-sub-title;
    font-weight: 600;
    letter-spacing: $small-letter-spacing;
    margin-bottom: 32px;
  }

  .IconWrapper {
    margin: 24px 0 8px;
    grid-area: first;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // .Icon {
    //   cursor: pointer;
    //   margin-top: 8px;

    //   .IconBackground {
    //     transition: scale 0.75s ease-out, filter -0.75s 0.75s ease-out;
    //   }

    //   &:hover .IconBackground {
    //     transform: scale(1.05);
    //     filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.2));
    //   }
    // }

    // .IconTitle {
    //   margin-top: 24px;
    //   margin-bottom: 24px;
    //   font-size: 18px;
    //   color: $base-dark;
    //   text-transform: uppercase;
    //   font-weight: 600;
    //   letter-spacing: $small-letter-spacing;
    //   width: 100%;
    //   text-align: center;
    // }

    .Icon {
      cursor: pointer;
      margin-top: 8px;

      .IconBackground {
        transition: scale 0.75s ease-out, filter -0.75s 0.75s ease-out;
      }

      &:hover .IconBackground {
        transform: scale(1.05);
        filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.2));
      }
    }

    .IconTitle {
      margin-top: 24px;
      margin-bottom: 40px;
      font-size: 18px;
      color: $base-dark;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: $small-letter-spacing;
    }

    &:nth-of-type(2) {
      grid-area: second;
    }

    &:nth-of-type(3) {
      grid-area: third;
    }
  }

  .sectionHeader {
    grid-area: header;
    .sectionTitle {
      @include section-title;
      margin: 64px 0 32px;
      text-transform: uppercase;
      text-align: left;
    }

    .sectionParagraph {
      @include base-paragraph;
    }
  }

  @media screen and (max-width: 768px) {
    max-width: 100vw;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;

    .ContactSubTitle {
      width: 100%;
      font-size: 20px;
      line-height: 28px;
      font-weight: 700;
    }

    .IconWrapper {
      .Icon {
        height: auto;
        .IconBackground {
          width: 50px;
          height: auto;
        }
        &:hover .IconBackground {
          transform: scale(1.05);
        }
      }

      .IconTitle {
        margin: 12px 0;
        font-size: 12px;
      }
    }

    .sectionHeader {
      max-width: 100vw;

      .sectionTitle {
        padding-left: 20px;
        font-size: 20px;
        line-height: 28px;
        font-weight: 700;
      }
    }
  }
}

.tab {
  height: auto;
}
