@import "../../variables.scss";

.hamburger, .hamburgerActive {
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
  transition: transform .5s;
}

.hamburgerBox {
  width: 18px;
  height: 18px;
  display: inline-block;
  position: relative;
}

@mixin hamburger-line {
  width: 100%;
  height: 2px;
  background-color: $base-dark;
  position: absolute;
}

.hamburgerInner {
  @include hamburger-line;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color .1s .2s ease-in-out;
}

.hamburgerInner::before,
.hamburgerInner::after {
  @include hamburger-line;
  
  content: '';
  left: 0;
  transition: transform .4s .4s ease-in-out;
}

.hamburgerInner::before {
  top: -6px;
}

.hamburgerInner::after {
  top: 6px;
}

.hamburgerActive .hamburgerInner {
  background-color: transparent;
}

.hamburgerActive .hamburgerInner:before {
  transform: translateY(6px) rotate(45deg);
}

.hamburgerActive .hamburgerInner:after {
  transform: translateY(-6px) rotate(-45deg);
}

