@import "../../variables.scss";

.rangesWrapper {
  margin-top: 70px;
  grid-area: filters;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;

  .rangesItem {
    width: 100%;
    padding: .5rem 5rem 1.5rem;
    margin-bottom: 1rem;

    &:nth-child(odd) {
      background-color: rgba($color-4, .3);
      color: $footer-text-color;
    }
    &:nth-child(even) {
      background-color: rgba($color-4, .05);
    }


    .rangesTitle {
      color: $color-3;
      font-family: 'Spartan', sans-serif;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      font-size: 1rem;
      padding-bottom: .5rem;

    }
  }

  @media (min-width: 768px) {
    justify-content: space-between;
    .rangesItem {
      width: calc(50% - .5rem);
      padding: 1rem 5rem 2.5rem;

      &:nth-child(3) {
        order: 2;
      }
    }
  }

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas:
      "range-01 range-02 range-03 range-04";
    .rangesItem01 {
      grid-area: range-01;
      // width: 50%;
      // min-width: 10%;
      //width: calc(25% - 7rem);
      // padding: 1rem 6rem 2.5rem;
    }
    .rangesItem02 {
      grid-area: range-02;
    }
    .rangesItem03 {
      grid-area: range-03;
    }
    .rangesItem04 {
      grid-area: range-04;
    }
  }
}