@import "../../variables.scss";
@import "../../mixins.scss";

.selectWrapper {
  width: 100%;
  grid-area: right;
  background: $base-grey;
  padding: 24px 20px 24px 0;

  .selectBox {
    width: 100%;
    height: 100%;
    background: $white;

    .month {
      display: block;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      width: 100%;
      height: 64px;
      line-height: 64px;
      text-align: center;
      margin: 0;
      padding-top: 16px;
    }

    .days {
      margin-bottom: 8px;
      margin-top: 16px;
      display: grid;
      grid-template-columns: 75px repeat(5, 1fr) 75px;
      grid-template-rows: 50px;
      grid-gap: 8px 8px;
      grid-template-areas: "prev mon tue wen thu fri next";
      span {
        grid-area: mon;
        text-align: center;
        align-self: center;
        font-size: 24px;
        font-weight: 400;

        &:nth-of-type(2) {
          grid-area: tue;
        }
        &:nth-of-type(3) {
          grid-area: wen;
        }
        &:nth-of-type(4) {
          grid-area: thu;
        }
        &:nth-of-type(5) {
          grid-area: fri;
        }
      }

      .prev {
        grid-area: prev;
        justify-self: center;
        align-self: center;
        cursor: pointer;
      }

      .next {
        grid-area: next;
        transform: rotate(180deg);
        transform-origin: center;
        justify-self: center;
        align-self: center;
        cursor: pointer;
      }
    }
    .date {
      margin-bottom: 8px;
      display: grid;
      grid-template-columns: 75px repeat(5, 1fr) 75px;
      grid-template-rows: 50px;
      grid-gap: 0 8px;
      grid-template-areas: ". day-01 day-02 day-03 day-04 day-05 .";

      span {
        grid-area: day-01;
        text-align: center;
        align-self: center;
        font-size: 20px;
        font-weight: 400;

        &:nth-of-type(2) {
          grid-area: day-02;
        }
        &:nth-of-type(3) {
          grid-area: day-03;
        }
        &:nth-of-type(4) {
          grid-area: day-04;
        }
        &:nth-of-type(5) {
          grid-area: day-05;
        }
      }
    }
    .hours {
      display: grid;
      grid-template-columns: 75px repeat(5, 1fr) 75px;
      grid-template-rows: repeat(4, 50px);
      grid-gap: 8px 8px;
      grid-template-areas:
        ". day-01-09 day-02-09 day-03-09 day-04-09 day-05-09 ."
        ". day-01-11 day-02-11 day-03-11 day-04-11 day-05-11 ."
        ". day-01-13 day-02-13 day-03-13 day-04-13 day-05-13 ."
        ". day-01-15 day-02-15 day-03-15 day-04-15 day-05-15 .";

      span {
        grid-area: day-01-09;
        display: block;
        height: 50px;
        line-height: 50px;
        border-radius: 2px;
        font-size: 18px;
        background: $base-grey;
        text-align: center;
        transition: background 0.5s ease-in;

        label {
          display: block;
          width: 100%;
          height: 100%;
          cursor: pointer;

          input {
            display: none;
          }
        }

        &:hover {
          background: $light-green;
        }

        &:nth-of-type(2) {
          grid-area: day-01-11;
        }

        &:nth-of-type(3) {
          grid-area: day-01-13;
        }

        &:nth-of-type(4) {
          grid-area: day-01-15;
        }

        &:nth-of-type(5) {
          grid-area: day-02-09;
        }

        &:nth-of-type(6) {
          grid-area: day-02-11;
        }

        &:nth-of-type(7) {
          grid-area: day-02-13;
        }

        &:nth-of-type(8) {
          grid-area: day-02-15;
        }

        &:nth-of-type(9) {
          grid-area: day-03-09;
        }

        &:nth-of-type(10) {
          grid-area: day-03-11;
        }

        &:nth-of-type(11) {
          grid-area: day-03-13;
        }

        &:nth-of-type(12) {
          grid-area: day-03-15;
        }

        &:nth-of-type(13) {
          grid-area: day-04-09;
        }

        &:nth-of-type(14) {
          grid-area: day-04-11;
        }

        &:nth-of-type(15) {
          grid-area: day-04-13;
        }

        &:nth-of-type(16) {
          grid-area: day-04-15;
        }

        &:nth-of-type(17) {
          grid-area: day-05-09;
        }

        &:nth-of-type(18) {
          grid-area: day-05-11;
        }

        &:nth-of-type(19) {
          grid-area: day-05-13;
        }

        &:nth-of-type(20) {
          grid-area: day-05-15;
        }
      }
    }
  }
}
