@import "../../variables.scss";
@import "../../mixins.scss";

.SliderContainer {
  margin-top: 160px;
  grid-area: slider;
  display: grid;
  grid-template-columns: 1fr 1042px 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 0px 0px;
  grid-template-areas:
    ". main-top ."
    "left-slider main-slider right-slider"
    ". main-bottom .";
  background-color: $white;

  .TopContentWrapper {
    grid-area: main-top;

    .SliderTitle {
      @include section-title;
      margin-bottom: 58px;
    }

    .SliderTabsContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 0px 0px;
      grid-template-areas: "first second third";
      border-bottom: 4px solid $dark-grey;
      border-radius: 4px;

      .SliderTabName {
        grid-area: first;
        font-size: 20px;
        color: $base-dark;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        cursor: pointer;

        &:nth-of-type(2) {
          grid-area: second;
        }

        &:nth-of-type(3) {
          grid-area: third;
        }

        @include tab-triangle;
      }

      .SliderTabNameActive {
        @extend .SliderTabName;
        font-weight: 700;

        @include tab-triangle-active;
      }
    }
  }

  .Slider {
    position: relative;
    grid-area: main-slider;
    margin-top: 70px;
    width: 100%;
    height: auto;
    max-height: 728px;
  }

  .BotoomContentWrapper {
    grid-area: main-bottom;

    .SliderButton {
      @include button-secondary;
    }

    .SliderParagraph {
      @include base-paragraph;

      strong {
        font-weight: 500;
      }
    }
  }

  @media screen and (max-width: 768px) {
    // $slider-height: calc(100vw * 0.7);
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    gap: 0px 0px;
    grid-template-areas:
      "main-top"
      "main-slider"
      "main-bottom";

    .TopContentWrapper {
      .SliderTitle {
        font-size: 20px;
        margin-bottom: 24px;
      }

      .SliderTabsContainer {
        border-bottom: 2px solid $dark-grey;
        border-radius: 2px;

        .SliderTabName {
          font-size: 14px;
          margin-top: 0;

          &:before {
            height: 2px;
            width: 72px;
            bottom: -16px;
            border-radius: 2px;
          }

          &:after {
            bottom: -30px;
            border-width: 16px 25px 0 25px;
          }
        }
      }
    }

    .Slider {
      margin-top: 24px;
      width: 100%;
      height: auto;
      max-height: calc(100vw * 0.7);
      overflow: hidden;
    }

    .BotoomContentWrapper {
      .SliderButton {
        margin: 0 auto;
      }

      .SliderParagraph {
        font-size: 16px;
        margin-top: 36px;
        margin-bottom: 32px;
      }
    }
  }
}
