@import "./variables.scss";

@mixin sectionWrapper {
  width: 100%;
  max-width: 1368px;
  height: auto;
  padding: 1rem 0 0;
  @media (min-width: 768px) {
    padding: 3rem 0 0;
  }
}

@mixin sectionTitle {
  padding: 0 1rem;
  color: $color-4;
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  @media (min-width: 768px) {
    font-size: 2rem;
  }
  @media (min-width: 1024px) {
    padding: 0 1.5rem;
    font-size: 3rem;
  }
}

@mixin sectionSubTitle {
  color: $color-4;
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  @media (min-width: 1024px) {
    font-size: 2rem;
    font-weight: 400;
  }
}

@mixin sectionParagraph {
  padding: 0 1rem;
  color: $color-5;
  font-family: "Spartan", sans-serif;
  font-weight: 200;
  line-height: 1.4rem;
  @media (min-width: 1024px) {
    padding: 0 1.5rem;
  }
}

@mixin button-primary {
  height: 42px;
  line-height: 20px;
  padding: 12px 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background: $base-green;
  border: none;
  border-radius: 2px;
  color: $white;
  text-transform: uppercase;
  font-family: $base-font;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

@mixin button-secondary {
  height: 42px;
  line-height: 20px;
  padding: 12px 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background: $white;
  border: 2px solid $base-green;
  border-radius: 2px;
  color: $base-green;
  text-transform: uppercase;
  font-family: $base-font;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
}
