@import "./variables.scss";

@mixin sectionWrapper {
  width: 100%;
  max-width: 1368px;
  height: auto;
  padding: 1rem 0 0;
  @media (min-width: 768px) {
    padding: 3rem 0 0;
  }
}

@mixin sectionTitle {
  padding: 0 1rem;
  color: $color-4;
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  @media (min-width: 768px) {
    font-size: 2rem;
  }
  @media (min-width: 1024px) {
    padding: 0 1.5rem;
    font-size: 3rem;
  }
}

@mixin sectionSubTitle {
  color: $color-4;
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  @media (min-width: 1024px) {
    font-size: 2rem;
    font-weight: 400;
  }
}

@mixin sectionParagraph {
  padding: 0 1rem;
  color: $color-5;
  font-family: "Spartan", sans-serif;
  font-weight: 200;
  line-height: 1.4rem;
  @media (min-width: 1024px) {
    padding: 0 1.5rem;
  }
}

@mixin button-primary {
  height: 42px;
  line-height: 20px;
  padding: 12px 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background: $base-green;
  border: 2px solid $base-green;
  border-radius: 2px;
  color: $white;
  text-transform: uppercase;
  font-family: $base-font;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  cursor: pointer;
  transition: color 0.75s ease-out, background 0.5s ease-out;

  &:hover {
    color: $base-green;
    background: $white;
  }
}

@mixin button-secondary {
  height: 42px;
  line-height: 20px;
  padding: 12px 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background: $white;
  border: 2px solid $base-green;
  border-radius: 2px;
  color: $base-green;
  text-transform: uppercase;
  font-family: $base-font;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  cursor: pointer;
  transition: color 0.75s ease-out, background 0.5s ease-out;

  &:hover {
    color: $white;
    background: $base-green;
  }
}

@mixin base-paragraph {
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  color: $base-dark;
  letter-spacing: $medium-letter-spacing;

  @media screen and (max-width: 768px) {
    font-size: 16px;
    line-height: 24px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@mixin section-title {
  font-size: 48px;
  text-align: center;
  font-weight: 700;
  color: $base-dark;
  letter-spacing: $small-letter-spacing;
}

@mixin section-sub-title {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  color: $base-dark;
  letter-spacing: $big-letter-spacing;
  text-transform: uppercase;

  @media screen and (max-width: 768px) {
    font-size: 16px;
    line-height: 24px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: $medium-letter-spacing;
  }
}

@mixin tab-triangle {
  &:before {
    position: absolute;
    content: "";
    height: 4px;
    width: 208px;
    bottom: -24px;
    left: 50%;
    transform: translateX(-50%);
    background: $dark-grey;
    border-radius: 4px;
    transition: background 1s ease-out;
  }
  &:after {
    position: absolute;
    content: "";
    left: 50%;
    bottom: -60px;
    width: 0;
    height: 0;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 40px 75px 0 75px;
    border-color: $dark-grey transparent transparent transparent;
    transition: border-color 1s ease-out;
  }
}

@mixin tab-triangle-active {
  &:before {
    position: absolute;
    content: "";
    height: 4px;
    width: 208px;
    bottom: -24px;
    left: 50%;
    transform: translateX(-50%);
    background: $base-green;
    border-radius: 4px;
    transition: background 1s ease-out;
  }
  &:after {
    position: absolute;
    content: "";
    left: 50%;
    bottom: -60px;
    width: 0;
    height: 0;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 40px 75px 0 75px;
    border-color: $base-green transparent transparent transparent;
    transition: border-color 1s ease-out;
  }
}
