// Colors Paleette

$base-grey: #f8f7f7;
$dark-grey: #ece9e9;
$white: #ffffff;
$base-green: #56928a;
$base-dark: #364859;
$reserved: #F8CE81;
$sold: #E0777D;
$light-green: #719D97;
$dark-green: #669C95;





$base-font: "Josefin Sans", sans-serif;

$small-letter-spacing: 0.05em;
$medium-letter-spacing: 0.075em;
$big-letter-spacing: 0.1em;

$color-1: #881347;
$color-2: #ac124a;
$color-3: #c01e58;
$color-4: #282f6c;
$color-5: #151755;
$color-6: #090839;
$top-menu-bg-color: #ffffff;
$footer-text-color: #ececec;

$slider-text-shadow: 2px 2px 2px $color-6;