@import "../../variables.scss";
@import "../../mixins.scss";

.videoPageWrapper {
  grid-area: hero;

  .videoContactWrapper {
    .sectionSubTitle {
      @include section-sub-title;
      font-size: 32px;
      margin: 64px 0 24px;
      text-align: left;
    }

    .sectionParagraph {
      @include base-paragraph;
    }

    .iconsContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto;
      gap: 0px 0px;
      grid-template-areas:
        "title title title"
        "first second third";
      margin-bottom: 50px;
      margin-top: 50px;

      .iconsSubTitle {
        grid-area: title;
        @include section-sub-title;
        font-size: 24px;
        margin-bottom: 64px;
        text-transform: uppercase;
      }

      .iconWrapper {
        margin: 8px 0;
        grid-area: first;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .iconTitle {
          margin-top: 30px;
          margin-bottom: 0;
          font-size: 18px;
          color: $base-dark;
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: $small-letter-spacing;
        }

        &:nth-of-type(2) {
          grid-area: second;
        }

        &:nth-of-type(3) {
          grid-area: third;
        }
      }
    }

    .onlineMeetingWrapper {
      .sectionSubTitle {
        @include section-sub-title;
        margin-top: 160px;
        font-size: 32px;

        span {
          font-size: 64px;
          color: $base-green;
        }
      }

      .onlineMeetingFormWrapper {
        display: grid;
        grid-template-columns: auto 715px;
        grid-template-rows: auto;
        grid-template-areas: "left right";
        border-radius: 4px;
        margin-bottom: 32px;

        .contactData {
          grid-area: left;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 48px;
          background: $base-grey;

          .step {
            width: 100%;
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            margin-top: 8px;
            text-align: left;
          }

          .iconImage {
            margin: 40px auto 30px;
          }

          .iconTitle {
            font-size: 20px;
            font-weight: 700;
          }

          .text {
            font-size: 16px;
            font-weight: 300;
            margin: 30px 0 0;
            line-height: 20px;
          }
        }

        .contactForm {
          width: 100%;
          grid-area: right;
          display: flex;
          justify-content: stretch;
          background: $base-grey;
          padding: 48px;

          .formLabel {
            display: block;
            font-size: 18px;
            text-transform: uppercase;
            margin: 24px 0 8px;
            color: $base-dark;
            font-weight: 700;
          }

          .formTextInput {
            height: 58px;
            width: 100%;
            padding: 16px 24px;
            font-size: 16px;
            letter-spacing: $medium-letter-spacing;
            color: $base-dark;
            flex-grow: 3;
            border: 2px solid rgba(54, 72, 89, 0.1);
            border-radius: 4px;

            &::placeholder {
              color: rgba(54, 72, 89, 0.15);
              font-family: $base-font;
              font-size: 18px;
              letter-spacing: $medium-letter-spacing;
              text-transform: uppercase;
            }
          }

          .sendSection {
            display: flex;
            justify-content: stretch;
            margin-top: 32px;
            position: relative;
            margin-bottom: 56px;

            @include rodo-checkbox;
          }
          .formButton {
            width: 100%;
            @include button-primary;
            height: 58px;
            line-height: 58px;
            border-radius: 4px;
            font-size: 16px;
            font-weight: 700;
            padding: 0 16px;
          }
        }
      }

      .onlineMeetingSelect {
        @extend .onlineMeetingFormWrapper;
        margin-bottom: 20px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    max-width: 100vw;

    .videoContactWrapper {
      .iconsContainer {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
          "title"
          "first"
          "second"
          "third";

        .iconsSubTitle {
          margin-bottom: 32px;
        }

        .iconWrapper {
          background: $base-grey;
          margin: 0;
          padding: 16px 0;

          .iconTitle {
            font-size: 14px;
          }

          .icon {
            width: 92px;
            height: auto;
          }

          &:nth-of-type(1) {
            padding-top: 24px;
          }

          &:nth-of-type(3) {
            padding-bottom: 24px;
          }
        }
      }

      .onlineMeetingWrapper {
        .sectionSubTitle {
          margin-top: 72px;
          font-size: 16px;
          letter-spacing: $small-letter-spacing;

          span {
            font-size: 16px;
            color: $base-green;
          }
        }

        .onlineMeetingFormWrapper {
          grid-template-columns: 100%;
          grid-template-rows: auto auto;
          grid-template-areas: "title" "calendar";
          border-radius: 0;

          .contactData {
            grid-area: title;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 24px 44px;

            .step {
              width: 100%;
              font-size: 16px;
              margin: 0;
            }

            .iconTitle {
              order: 2;
              font-size: 14px;
              font-weight: 400;
              width: 60%;
              margin: 0;
              margin-top: 20px;
            }
            .iconImage {
              order: 3;
              width: 52px;
              height: 52px;
              margin: 0;
              margin-top: -18px;
            }
            .text {
              display: none;
            }
          }

          .contactForm {
            grid-area: calendar;
            padding: 0 20px;
            .formLabel {
              font-size: 12px;
              margin: 16px 0 8px;
            }
            .formTextInput {
              height: 42px;
              font-size: 12px;
              padding: 8px 16px;
              &::placeholder {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
